body {
  background-color: #0c122c;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  position: relative;
}
div {
  border-radius: 10px;
}
.page-container {
  position: relative;
}

/******************************** BOXES ********************************/
.boxes {
  padding: 17% 20%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.right-box,
.left-box {
  background-color: #1e2c69;
  margin: 20px;
}
.right-box {
  width: 40%;
  min-width: 300px;
  height: 200px;
  border-radius: 10px 100px 10px 10px;
}

.left-box {
  width: 50%;
  min-width: 450px;
  height: 170px;
  margin-top: 50px;
}
/******************************** RIGHT BOX ********************************/
#logo {
  display: block;
  margin-bottom: 30px;
}
.icons-group {
  padding: 40px;
}
.specs {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #0d1127;
  position: relative;
  margin-right: 10px;
}
.icon {
  position: absolute;
  left: 13px;
}
.icon.doc {
  left: 15px;
  top: 14px;
}
.icon.folder {
  top: 15px;
}
.icon.upload {
  top: 17px;
}

/******************************** LEFT BOX ********************************/

.storage-left,
.bar,
.used-space {
  font-weight: 600;
}
.progression-bar {
  padding: 40px 30px 30px;
  text-align: left;
}
#space {
  font-weight: 100;
  width: 100%;
  height: 1.2rem;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
}
progress[value]::-webkit-progress-bar {
  background: #151e4a;
  border: solid 3px #151e4a;
  border-radius: 10px;
}
progress[value]::-webkit-progress-value {
  background-image: linear-gradient(to right, #fd9d97, #fa4d91);
  border-radius: 10px;
}
.point {
  width: 5px;
  height: 5px;
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  position: relative;
  left: 78%;
  bottom: 21px;
}

.bar {
  font-size: 0.7rem;
  display: inline-block;
}
div.end {
  margin-left: 78%;
}

/********************************* BUBBLE *********************************/
.storage-left {
  width: 180px;
  height: 80px;
  background-color: white;
  border-radius: 10px 10px 0px 10px;
  position: absolute;
  left: 62%;
  bottom: 57%;
  color: #999aa0;
  padding-left: 20px;
  display: inline-block;
}

.quantity-left {
  color: black;
  font-size: 2.7rem;
}

.storage-left::after {
  content: "";
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid white;
  position: absolute;
  left: 120px;
  top: 75px;
}
/******************************** FOOTER ********************************/

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 2rem;
  width: 100%;

  /* top: 850px; */
}
.attribution a {
  color: #fd9d97;
}

/******************************** MOBILE ********************************/
@media (max-width: 1028px) {
  body {
    background-size: auto 100%;
  }
  .boxes {
    padding: 10% 10% 20%;
    flex-wrap: wrap;
  }
  .left-box {
    margin: 30px 0 30px 10px;
  }
  div.end {
    margin-left: 69%;
  }

  .storage-left::after {
    content: "";
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .storage-left {
    border-radius: 10px;
    position: relative;
    left: 20%;
    top: -20px;
    padding-left: 20px;
    display: flex-block;
  }
}
@media (max-width: 600px) {
  .right-box,
  .left-box {
    min-width: 300px;
  }
}
